body {
    background-color: gray;
}
h1{
    text-align: center;
    background-color: bisque;
    color: black;
    border-style: groove;
    border-color: black;
}
.wrapper{
    display: grid;
}

.fondo{
    text-align: center;
    background-color: bisque;
    color: black;
    border-style: groove;
    border-color: black;
}

.uno{
    grid-column: 5;
}

.dos{
    grid-column: 1;
    grid-row: 1;
}

.imagen{
    width: 500px;
    height: 300px;
    border-style: groove;
    border-color: black;
}